code/Node-Red Flow in Google Cloud.txt
[
    {
        "id": "e07fb1e2ac3479cf",
        "type": "tab",
        "label": "Dissertation_Node_Red_Google_Cloud",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe476c6db3057c7",
        "type": "mqtt in",
        "z": "e07fb1e2ac3479cf",
        "name": "Hive Server For Receiving Message ",
        "topic": "pub99932/dev-node3213/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f1c470067804c4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1180,
        "wires": [
            [
                "9edbda5058a428d0",
                "5c33a6c88de2d0bb",
                "61d30df3dee28cb3",
                "0a5eaacc6e245af2",
                "235b95637b8eba14",
                "2b9317665ed72200",
                "ef6950b7be5054e4",
                "e3baeff913c962e0",
                "4f4b5e2c328be351",
                "7491e55c2c304572",
                "42fbdcd65fb95b15",
                "64d3799dae0caec5",
                "9273b7848d0a4e37",
                "1b7954064aead7ee",
                "5f617d337d36b209"
            ]
        ]
    },
    {
        "id": "4001e1e339a9b330",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "13bcf5a28cd15de8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Line Chart of PM2_5",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fe4406",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#df2626",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "97c9faf403b13435",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "b86cf1815e4e9ffc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Comparison of AQI With PM2_5",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1030,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "5c33a6c88de2d0bb",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data For PM2_5",
        "func": "\nPM2_5 = msg.payload.PM2_5;\nmsg = { topic: 'PM2_5', payload: PM2_5 };\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "4001e1e339a9b330",
                "2a8d38d0d4035ad0"
            ]
        ]
    },
    {
        "id": "2a8d38d0d4035ad0",
        "type": "ui_text",
        "z": "e07fb1e2ac3479cf",
        "group": "13bcf5a28cd15de8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value of PM2_5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "9edbda5058a428d0",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparison of AQI With PM2_5",
        "func": "\nValueToLine1 = msg.payload.AQI;\nValueToLine2 = msg.payload.PM2_5;\n\nline1 = { topic: 'AQI', payload: ValueToLine1 };\nline2 = { topic: 'PM2_5', payload: ValueToLine2 };\n  \nreturn [line1, line2]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "97c9faf403b13435"
            ],
            [
                "97c9faf403b13435"
            ]
        ]
    },
    {
        "id": "2b2304734194c1ef",
        "type": "ui_text",
        "z": "e07fb1e2ac3479cf",
        "group": "30031aab1a31c733",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value of PM10",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "34ba0e75ee916d3e",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "30031aab1a31c733",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Line Chart of PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#37ff00",
            "#aec7e8",
            "#ff7f0e",
            "#00ff00",
            "#98df8a",
            "#df2626",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 910,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "61d30df3dee28cb3",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data For PM10",
        "func": "\nPM10 = msg.payload.PM10;\nmsg = { topic: 'PM10', payload: PM10 };\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "34ba0e75ee916d3e",
                "2b2304734194c1ef"
            ]
        ]
    },
    {
        "id": "35454d15f1ca96c6",
        "type": "ui_text",
        "z": "e07fb1e2ac3479cf",
        "group": "355c181b0888d8ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value of O3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 990,
        "y": 620,
        "wires": []
    },
    {
        "id": "d857c0ae9d3f5d04",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "355c181b0888d8ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Line Chart of O3",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0ef1ad",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#df2626",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 940,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "85bc4e69c77e19d3",
        "type": "ui_text",
        "z": "e07fb1e2ac3479cf",
        "group": "2649c32460269116",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value of NO2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "bfdf4b7f894b7229",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "2649c32460269116",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Line Chart of NO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fbff00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#df2626",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 930,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0a5eaacc6e245af2",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data For NO2",
        "func": "\nNO2 = msg.payload.NO2;\nmsg = { topic: 'NO2', payload: NO2 };\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "bfdf4b7f894b7229",
                "85bc4e69c77e19d3"
            ]
        ]
    },
    {
        "id": "235b95637b8eba14",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data For O3",
        "func": "\nO3 = msg.payload.O3;\nmsg = { topic: 'O3', payload: O3 };\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "d857c0ae9d3f5d04",
                "35454d15f1ca96c6"
            ]
        ]
    },
    {
        "id": "e91cba5da6c5758b",
        "type": "ui_text",
        "z": "e07fb1e2ac3479cf",
        "group": "b1f9da87f11d68ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value of SO2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1000,
        "y": 800,
        "wires": []
    },
    {
        "id": "b2ab4b1f64ac68a4",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "b1f9da87f11d68ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Line Chart of SO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#006eff",
            "#3f4f64",
            "#d9a578",
            "#2ca02c",
            "#2e55f5",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 950,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cd439213e60fcdbb",
        "type": "ui_text",
        "z": "e07fb1e2ac3479cf",
        "group": "21f86775f7b2ce9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value of CO",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1000,
        "y": 720,
        "wires": []
    },
    {
        "id": "30af56c7a11697cd",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "21f86775f7b2ce9a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Line Chart of CO",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#53d3d5",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#df2626",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 930,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2b9317665ed72200",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data For CO",
        "func": "\nCO = msg.payload.CO;\nmsg = { topic: 'CO', payload: CO };\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "30af56c7a11697cd",
                "cd439213e60fcdbb"
            ]
        ]
    },
    {
        "id": "ef6950b7be5054e4",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data For SO2",
        "func": "\nSO2 = msg.payload.SO2;\nmsg = { topic: 'SO2', payload: SO2 };\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 760,
        "wires": [
            [
                "b2ab4b1f64ac68a4",
                "e91cba5da6c5758b"
            ]
        ]
    },
    {
        "id": "e3baeff913c962e0",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data For AQI",
        "func": "\nAQI = msg.payload.AQI;\nmsg = { topic: 'AQI', payload: AQI };\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 840,
        "wires": [
            [
                "c9960c80c420c7f8",
                "5f03471c05b5eedd"
            ]
        ]
    },
    {
        "id": "c9960c80c420c7f8",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "bf2ced2110105158",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Line Chart of AQI",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#560631",
            "#1371ec",
            "#bf2259",
            "#2ca02c",
            "#98df8a",
            "#df2626",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 950,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5f03471c05b5eedd",
        "type": "ui_text",
        "z": "e07fb1e2ac3479cf",
        "group": "bf2ced2110105158",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value of AQI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 980,
        "y": 880,
        "wires": []
    },
    {
        "id": "a143369d49d67e69",
        "type": "comment",
        "z": "e07fb1e2ac3479cf",
        "name": "Seperating Data For Each Colum",
        "info": "",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "ed88d8255a256ca0",
        "type": "comment",
        "z": "e07fb1e2ac3479cf",
        "name": "visualisation data in line chart and text",
        "info": "",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "4f4b5e2c328be351",
        "type": "debug",
        "z": "e07fb1e2ac3479cf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5990c56388fab544",
        "type": "comment",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparsion of AQI with Other Particles",
        "info": "",
        "x": 620,
        "y": 940,
        "wires": []
    },
    {
        "id": "90c695193bbd04f1",
        "type": "comment",
        "z": "e07fb1e2ac3479cf",
        "name": "Comparsion Line Chart of AQI with Other Particles",
        "info": "",
        "x": 1030,
        "y": 940,
        "wires": []
    },
    {
        "id": "c0ab5d441e70f931",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "344fa39eeededc7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Comparison of AQI With PM10",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1050,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "7491e55c2c304572",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparison of AQI With PM10",
        "func": "\nValueToLine1 = msg.payload.AQI;\nValueToLine2 = msg.payload.PM10;\n\nline1 = { topic: 'AQI', payload: ValueToLine1 };\nline2 = { topic: 'PM10', payload: ValueToLine2 };\n  \nreturn [line1, line2]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1060,
        "wires": [
            [
                "c0ab5d441e70f931"
            ],
            [
                "c0ab5d441e70f931"
            ]
        ]
    },
    {
        "id": "42fbdcd65fb95b15",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparison of AQI With NO2",
        "func": "\nValueToLine1 = msg.payload.AQI;\nValueToLine2 = msg.payload.NO2;\n\nline1 = { topic: 'AQI', payload: ValueToLine1 };\nline2 = { topic: 'NO2', payload: ValueToLine2 };\n  \nreturn [line1, line2]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1120,
        "wires": [
            [
                "ff64e1ec0b3116d0"
            ],
            [
                "ff64e1ec0b3116d0"
            ]
        ]
    },
    {
        "id": "64d3799dae0caec5",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparison of AQI With O3",
        "func": "\nValueToLine1 = msg.payload.AQI;\nValueToLine2 = msg.payload.O3;\n\nline1 = { topic: 'AQI', payload: ValueToLine1 };\nline2 = { topic: 'O3', payload: ValueToLine2 };\n  \nreturn [line1, line2]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "238b44693066f830"
            ],
            [
                "238b44693066f830"
            ]
        ]
    },
    {
        "id": "9273b7848d0a4e37",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparison of AQI With CO",
        "func": "\nValueToLine1 = msg.payload.AQI;\nValueToLine2 = msg.payload.CO;\n\nline1 = { topic: 'AQI', payload: ValueToLine1 };\nline2 = { topic: 'CO', payload: ValueToLine2 };\n  \nreturn [line1, line2]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1240,
        "wires": [
            [
                "42a1345300c1c2e3"
            ],
            [
                "42a1345300c1c2e3"
            ]
        ]
    },
    {
        "id": "1b7954064aead7ee",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparison of AQI With SO2",
        "func": "\nValueToLine1 = msg.payload.AQI;\nValueToLine2 = msg.payload.SO2;\n\nline1 = { topic: 'AQI', payload: ValueToLine1 };\nline2 = { topic: 'SO2', payload: ValueToLine2 };\n  \nreturn [line1, line2]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1300,
        "wires": [
            [
                "c314b9accbcf23ee"
            ],
            [
                "c314b9accbcf23ee"
            ]
        ]
    },
    {
        "id": "5f617d337d36b209",
        "type": "function",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparison of All Particles",
        "func": "\nValueToLine1 = msg.payload.AQI;\nValueToLine2 = msg.payload.PM2_5;\nValueToLine3 = msg.payload.PM10;\nValueToLine4 = msg.payload.NO2;\nValueToLine5 = msg.payload.O3;\nValueToLine6 = msg.payload.CO;\nValueToLine7 = msg.payload.SO2;\n\nline1 = { topic: 'AQI', payload: ValueToLine1 };\nline2 = { topic: 'PM2_5', payload: ValueToLine2 };\nline3 = { topic: 'PM10', payload: ValueToLine3 };\nline4 = { topic: 'NO2', payload: ValueToLine4 };\nline5 = { topic: 'O3', payload: ValueToLine5 };\nline6 = { topic: 'CO', payload: ValueToLine6 };\nline7 = { topic: 'SO2', payload: ValueToLine7 };\n  \nreturn [line1, line2, line3, line4, line5, line6, line7]\n",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "0f9f873f98de7d90"
            ],
            [
                "0f9f873f98de7d90"
            ],
            [
                "0f9f873f98de7d90"
            ],
            [
                "0f9f873f98de7d90"
            ],
            [
                "0f9f873f98de7d90"
            ],
            [
                "0f9f873f98de7d90"
            ],
            [
                "0f9f873f98de7d90"
            ]
        ]
    },
    {
        "id": "0f9f873f98de7d90",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "9a6c102ad07d5385",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Comparison of All Particles In Line Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1020,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "a3684a9b33ad45aa",
        "type": "comment",
        "z": "e07fb1e2ac3479cf",
        "name": "Data for Comparsion of all  Particles",
        "info": "",
        "x": 600,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bf8895d9e5153c66",
        "type": "comment",
        "z": "e07fb1e2ac3479cf",
        "name": "Comparsion Line Chart of all Particles",
        "info": "",
        "x": 1030,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ff64e1ec0b3116d0",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "364345a2b278c2e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Comparison of AQI With NO2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "238b44693066f830",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "0534c83b77178985",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Comparison of AQI With O3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "42a1345300c1c2e3",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "34265e323e9d9b99",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Comparison of AQI With CO",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "c314b9accbcf23ee",
        "type": "ui_chart",
        "z": "e07fb1e2ac3479cf",
        "name": "",
        "group": "f3f5c067d30ab2b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Comparison of AQI With SO2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "ad6d92c983c792d2",
        "type": "ui_spacer",
        "z": "e07fb1e2ac3479cf",
        "name": "spacer",
        "group": "abd9f2aa52ccd0f5",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f1c470067804c4b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13bcf5a28cd15de8",
        "type": "ui_group",
        "name": "PM2_5",
        "tab": "0ea5e8f3fa2e9e8a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b86cf1815e4e9ffc",
        "type": "ui_group",
        "name": "Comparison of AQI With PM2_5",
        "tab": "1d8ea8e52a1b9b94",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "30031aab1a31c733",
        "type": "ui_group",
        "name": "PM10",
        "tab": "0ea5e8f3fa2e9e8a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "355c181b0888d8ba",
        "type": "ui_group",
        "name": "O3",
        "tab": "0ea5e8f3fa2e9e8a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2649c32460269116",
        "type": "ui_group",
        "name": "NO2",
        "tab": "0ea5e8f3fa2e9e8a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1f9da87f11d68ec",
        "type": "ui_group",
        "name": "SO2",
        "tab": "0ea5e8f3fa2e9e8a",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "21f86775f7b2ce9a",
        "type": "ui_group",
        "name": "CO",
        "tab": "0ea5e8f3fa2e9e8a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bf2ced2110105158",
        "type": "ui_group",
        "name": "AQI",
        "tab": "0ea5e8f3fa2e9e8a",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "344fa39eeededc7c",
        "type": "ui_group",
        "name": "Comparison of AQI With PM10",
        "tab": "1d8ea8e52a1b9b94",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9a6c102ad07d5385",
        "type": "ui_group",
        "name": "Comparison of All Particle",
        "tab": "1d8ea8e52a1b9b94",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "364345a2b278c2e8",
        "type": "ui_group",
        "name": "Comparison of AQI With NO2",
        "tab": "1d8ea8e52a1b9b94",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0534c83b77178985",
        "type": "ui_group",
        "name": "Comparison of AQI With O3",
        "tab": "1d8ea8e52a1b9b94",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34265e323e9d9b99",
        "type": "ui_group",
        "name": "Comparison of AQI With CO",
        "tab": "1d8ea8e52a1b9b94",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f3f5c067d30ab2b1",
        "type": "ui_group",
        "name": "Comparison of AQI With SO2",
        "tab": "1d8ea8e52a1b9b94",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0ea5e8f3fa2e9e8a",
        "type": "ui_tab",
        "name": "Current Sensor Data",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1d8ea8e52a1b9b94",
        "type": "ui_tab",
        "name": "Comparison",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]